:root {
    /* Define color variables */
    --shiva-purple: #A100FF;
    --shiva-dark: #000020;
    --gradient-start: var(--accenture-purple);
    --gradient-end: var(--accenture-dark);
    --text-light: #FFFFFF;
    --menu-bar: #333333;
    --gradient: linear-gradient(to right, var(--shiva-purple), var(--shiva-dark));
}

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
    background: var(--gradient);
    color: var(--text-light);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background: var(--shiva-dark);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.title {
    margin-left: 10px;
    color: var(--text-light);
    font-size: 20px;
}


.menu {
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
}


.menu hr {
    border: none;
    height: 3px;
    background-color: var(--text-light);
    margin: 1px;
    width: 20px;
    transition-duration: 0.2s;
}

.menu>hr:hover,
.menu>hr:active,
.menu>hr:focus-visible {
    width: 15px;
}

.nav {
    position: absolute;
    min-height: 100vh;
    width: 0%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition-duration: 0.2s;
    background-color: var(--shiva-dark);

}


.link-button {
    text-decoration: none;

    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--shiva-dark);
    color: var(--text-light);
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px;
    width: 80px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-button:hover {
    background-color: var(--shiva-purple);
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}



.aside {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    min-height: 100%;
    padding: 20px;
}

.aside-link>a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 90px;
    transition-duration: 0.3s;
    font-size: 15px;
}

.aside-link>a:hover,
.aside-link>a:active {
    background-color: var(--shiva-dark);
}

.footer {
    background-color: var(--shiva-dark);
    color: var(--text-light);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Add other styles as needed */


.learn-article {
    background-color: var(--shiva-dark);
    max-width: 100%;
    padding: 10px;
    margin: 10px;
}


.content {
    background-color: var(--shiva-dark);
}



.text {
    line-height: 30px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.learn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.learn-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 40px;
    width: 80px;
    border: none;
    background-color: lime;
    color: var(--shiva-dark)
}

/* ==============*/

@media all and (min-width:1000px) {
    .learn-article {
        display: flex;
        flex-direction: row;
    }

    .content {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }




    .content-image {
        margin: 10px;
        width: 400px;
    }

    .content-image>img {
        width: 400px;
    }
}


@media all and (max-width:999px) {


    .learn-article {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }




    .content-image {
        margin: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-image>img {
        width: 90%;
    }
}

/* ========= */
.about-me-article {
    background-color: var(--shiva-dark);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.about-me {
    font-size: 18px;
    line-height: 35px;
    padding: 20px;
    border-radius: 20px;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-picture>image {
    min-width: 350px;
    max-width: 400px;
    min-height: 360px;
    max-height: 400px;
}